Importamos el dataframe de la base de datos:

In [ ]:
 import pandas as pd

In [ ]:
df3 = df3.fillna(0)

In [ ]:
df3

          Comidas  price    Categoria  latitude  longitude  Pin code
0         Bebidas  120.0  Cafe & Deli    0.0000     0.0000       0.0
1       Cafetería   70.0  Restaurante    0.0000     0.0000       0.0
2          Carnes  300.0      Mercado    0.0000     0.0000       0.0
3        Chivitos  450.0  Restaurante    0.0000     0.0000       0.0
4    Comida China  200.0      Mercado    0.0000     0.0000       0.0
..            ...    ...          ...       ...        ...       ...
407             0    0.0            0   12.9766    77.5993  560001.0
408             0    0.0            0   12.9854    77.7081  560048.0
409             0    0.0            0   12.9850    77.5533  560010.0
410             0    0.0            0   12.9770    77.5773  560009.0
411             0    0.0            0   12.8988    77.5764  560078.0

[412 rows x 6 columns]

In [ ]:
df3.to_excel('PYA.xlsx')