In [ ]:

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

from matplotlib import gridspec

In [ ]:
data = pd.read_csv('/content/creditcard.csv')

In [ ]:
data

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
0          0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1          0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2          1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3          1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4          2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
...      ...       ...       ...       ...  ...       ...       ...     ...    ...
19893  30631 -0.377215  0.973528  1.647077  ...  0.056522  0.033139   29.90    0.0
19894  30631  1.209281  0.078793  0.061820  ... -0.025292  0.021130   16.00    0.0
19895  30632  1.286596 -1.450336  0.814530  ...  0.026395  0.030885   92.00    0.0
19896  30633 -0.488090  1.018448  0.670593  ...  0.130266  0.067290    1.99    0.0
19897  30633 -2.609841  2.479357  0.763844  ...       NaN       NaN     NaN    NaN

[19898 rows x 31 columns]

In [ ]:

fraud = data[data['Class'] == 1]

valid = data[data['Class'] == 0]

outlierFraction = len(fraud)/float(len(valid))

print(outlierFraction)

print('Fraud: {}'.format(len(data[data['Class'] == 1])))

print('Normal: {}'.format(len(data[data['Class'] == 0])))

0.0042903290934786995
Fraud: 85
Normal: 19812

Un 42% de las transacciones son fraudulentas